body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #ffd00f;
    display: flex;
    justify-content: space-between; 
    }

.icon{
    padding-top: 10px;
}

header nav h1{
    color: #fff;
}

header nav h1{
    padding: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

header nav h1 img ul li a{
    color: #fff;
    background-color: #8f8f8f;
}

header{
    background-color: #ffd00f;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

li{
    display: inline-block;
    margin: 0 15px;
}

header{
    background-color: #ffd00f;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1{
    color: #0000;
}

li{
    display: inline-block;
    margin: 0 15px;
}

a:hover{
    background-color: #6ab1c1cf;
}

header img{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 80px;
}
.portada{
    position: relative;
}

.formulario{
    background-color: #8080801f;
    width: 350px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(221, 217, 217);
}

.txt{
    width: 300px;
    height: 35px;
    margin: 5px;
    border: none;
    border: 1px solid #cdcaca;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}

.btn{
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 307px;
    height: 35px;
    background-color: #ffd00f;
    margin: 7px 0 10px 0;
    border: none;
    border-radius: 5px;
}
a{
    font-size: 12px;
    text-decoration: none;
}
.linea_divi{
    width: 300px;
    border-bottom: 1px solid #cdcaca;
    margin: 18px auto 18px auto;
    
}
.btn1{
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #42b72a;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-bottom: 18px;
}

footer{
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    text-align: center;

}