body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #ffd00f;
    display: flex;
    justify-content: space-between; 
    }

header nav h1{
    color: #fff;
}

header nav h1{
    padding: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

header nav h1 img ul li a{
    color: #fff;
    background-color: #8f8f8f;
}

header{
    background-color: #ffd00f;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

li{
    display: inline-block;
    margin: 0 15px;
}

header{
    background-color: #ffd00f;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1{
    color: #0000;
}

li{
    display: inline-block;
    margin: 0 15px;
}

a:hover{
    background-color: #6ab1c1cf;
}

header img{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 80px;
}
.portada{
    position: relative;
}
/* .portada img{
    width: 100vw;
    height: 600px;
    position: relative;
    z-index: 0;
} */

/* .portada a{
    position: absolute;
    bottom: 60px;
    left: 500px;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid #fff; */
/* } */
.Bienvenida{
    text-align: center;
}
.Productos div{
    width: 300px;
    height: 400px;
    background-color: #0000;
    display: inline-block;
    margin: 25px 20px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px 0 #000;
    transition: width,height, 0.5s;
}

.Productos div:hover{
    width: 350px;
    height: 410px;
}

.Productos div p{
    color: #0ead09cf;
    width: 280px;
    display: inline-block;
    text-align: center;
}

.Productos div img{
    width: 280px;
    height: 150px;
    border-radius: 15px;
}

.reseña{
    width: 700px;
    margin: 0 auto;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

.reseña h1{
    text-align: center;
    
}

footer{
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    text-align: center;

}